/* Fonts List
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
Fonts List */

/* Media Query */
@media (max-width: 375px) {
}
@media (min-width: 376px) and (max-width: 575px) {
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Media Query */

/* Reset */
* {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  box-sizing: border-box;
}
/* Reset */

/* Layout */
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: antiquewhite;
}
@media (max-width: 375px) {
  #hero {
    grid-template-columns: 100vw;
    grid-template-rows: auto;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  #hero {
    grid-template-columns: 100vw;
    grid-template-rows: auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #hero {
    grid-template-columns: 100vw;
    grid-template-rows: 75vh;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Layout */

/* Hero Section */
/* Left Side */
#hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15rem;
}
#portfolio {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;
  align-self: center;
  padding-bottom: 8rem;
  color: #1a1f2b;
}
#hello {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
  color: #96d13b;
}
#full-name,
#last-name {
  font-family: "Merriweather", serif;
  font-size: 7rem;
  color: #1a1f2b;
}
#last-name {
  color: #3b65d2;
}
#proffesion-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#link-container,
#proffession {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#proffession {
  justify-content: flex-start;
}
.proffession,
.link {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  color: #1a1f2b;
}
#link-container {
  gap: 5rem;
}
.link {
  text-decoration: none;
  color: white;
  background-color: #306d7a;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
}
#resume {
  background-color: #3b65d2;
}
#proffesion-link {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

/* Responsive */
@media (max-width: 375px) {
  #hero-left {
    padding: 0rem 2rem 0rem 2rem;
    justify-content: center;
  }
  #portfolio {
    font-size: 1.75rem;
    padding: 4rem 0rem 3rem 0rem;
  }
  #hello {
    font-size: 1.5rem;
  }
  #full-name,
  #last-name {
    font-size: 2rem;
  }
  #proffesion-link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #proffession {
    padding-bottom: 0.75rem;
  }
  .proffession,
  .link {
    font-size: 1rem;
  }
  #link-container {
    gap: 2rem;
  }
  .link {
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
    margin: 1rem 0.7rem;
  }
  #proffesion-link {
    padding-top: 2.5rem;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  #hero-left {
    padding: 0rem 5rem 0rem 5rem;
    justify-content: center;
  }
  #portfolio {
    font-size: 2.1rem;
    padding: 5rem 0rem 3rem 0rem;
  }
  #hello {
    font-size: 1.75rem;
  }
  #full-name,
  #last-name {
    font-size: 2.4rem;
  }
  #proffesion-link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #link-container {
    gap: 4rem;
  }
  #proffession {
    padding-bottom: 1rem;
  }
  .proffession {
    font-size: 1.1rem;
  }
  .link {
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
  }
  #proffesion-link {
    padding-top: 2.75rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #hero-left {
    margin: 0rem 5rem 0rem 5rem;
    justify-content: center;
  }
  #portfolio {
    font-size: 2.75rem;
    margin: 0rem 0rem 4.5rem 0rem;
  }
  #hello {
    font-size: 3.5rem;
  }
  #full-name,
  #last-name {
    font-size: 4rem;
  }
  #full-name {
    margin-bottom: 3rem;
  }
  #proffesion-button {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .proffession,
  .button {
    font-size: 1.5rem;
  }
  #button {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
  }
  #proffesion-button {
    margin-top: 0rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Responsive */
/* Left Side */

/* Right Side */
#hero-image {
  height: 75vh;
}
#hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Responsive */
@media (max-width: 375px) {
  #hero-right {
    display: none;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  #hero-right {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #hero-right {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Responsive */
/* Right Side */
/* Hero Section */

/* About Me Section */
.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 10rem 15rem;
  margin-bottom: 15rem;
}
/* Responsive */
@media (max-width: 375px) {
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 2rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 5rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Responsive */

#bio {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  color: #1a1f2b;
}
#profile-image {
  width: 70%;
  border-radius: 50%;
  margin-top: 15rem;
}
/* Responsive */
@media (max-width: 375px) {
  #about-me-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #bio {
    font-size: 2.5rem;
    align-self: flex-start;
  }
  #profile-image {
    width: 70%;
    border-radius: 50%;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  #about-me-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #bio {
    font-size: 2.5rem;
    align-self: flex-start;
  }
  #profile-image {
    width: 70%;
    border-radius: 50%;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}

/* Responsive */
.para-text {
  color: #1a1f2b;
  font-size: 2.5rem;
  margin-top: 4rem;
  font-family: "Poppins", sans-serif;
}
#bio-first-para-text {
  font-size: 3.5rem;
  font-family: "Merriweather", serif;
  font-weight: 800;
  margin-top: 0rem;
}

@media (max-width: 375px) {
  #about-me-right {
  }
  .para-text {
    font-size: 1rem;
    margin-top: 1.1rem;
  }
  #bio-first-para-text {
    font-size: 1.15rem;
    font-family: "Merriweather", serif;
    font-weight: 800;
    margin-top: 0rem;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  #about-me-right {
  }
  .para-text {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  #bio-first-para-text {
    font-size: 1.5rem;
    font-family: "Merriweather", serif;
    font-weight: 800;
    margin-top: 0rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Responsive */
/* About Me Section */

/* Education */

#education-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 10rem;
}

.education-left {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 15rem;
}
.university-info,
.college-info {
  margin-bottom: 10rem;
}
.degree-name {
  font-size: 2.5rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: #1a1f2b;
}
.institute-name,
.passing-year,
.grade-info {
  font-size: 2rem;
  font-weight: 500;
  color: #1a1f2b;
}
.education-right {
  padding-right: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.education {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  color: #1a1f2b;
}
#education-image {
  height: 70rem;
  width: 70rem;
  margin-top: 5rem;
}

/* Responsive */
@media (max-width: 375px) {
  #education-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }
  .education-left {
    order: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
  }
  .university-info,
  .college-info {
    margin-bottom: 2rem;
  }
  .degree-name {
    font-size: 1rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: #1a1f2b;
  }
  .institute-name,
  .passing-year,
  .grade-info {
    font-size: 0.75rem;
    font-weight: 500;
    color: #1a1f2b;
  }
  .education-right {
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .education {
    font-size: 2.5rem;
  }
  #education-image {
    height: 15rem;
    width: 100%;
    margin-top: 1.5rem;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  #education-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
  }
  .education-left {
    order: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
  }
  .university-info,
  .college-info {
    margin-bottom: 2rem;
  }
  .degree-name {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: #1a1f2b;
  }
  .institute-name,
  .passing-year,
  .grade-info {
    font-size: 1.2rem;
    font-weight: 500;
    color: #1a1f2b;
  }
  .education-right {
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .education {
    font-size: 2.5rem;
  }
  #education-image {
    height: 25rem;
    width: 100%;
    margin-top: 1.5rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Responsive */
/* Education */

/* Footer */
#footer {
  background-color: wheat;
  font-family: "Poppins", sans-serif;
}
footer {
  display: flex;
  flex-direction: column;
  padding-left: 15rem;
}
.connect-with-me {
  font-size: 4rem;
  padding-top: 12rem;
}
.name {
  font-size: 2.75rem;
  padding-top: 5rem;
}
.contact-information,
.contact-information a,
.connect-with-me-social {
  font-size: 1.75rem;
  color: #1a1f2b;
}
.e-mail {
  padding-top: 2rem;
}
.find-my-resume {
  padding-top: 2rem;
}
.connect-with-me-social {
  padding-top: 5rem;
}
.social-logo {
  display: flex;
  gap: 3rem;
  padding-top: 4rem;
  padding-bottom: 15rem;
}
.connecting-social-media-logo {
  width: 4.5rem;
  height: 4.5rem;
}
#copyright-text {
  font-size: 1.1rem;
  font-weight: 300;
  padding-bottom: 1rem;
  align-self: center;
}
/* Responsive */
@media (max-width: 375px) {
  footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .connect-with-me {
    font-size: 2rem;
    padding-top: 7rem;
  }
  .name {
    font-size: 1.5rem;
    padding-top: 4rem;
  }
  .contact-information,
  .contact-information a,
  .connect-with-me-social {
    font-size: 1rem;
    color: #1a1f2b;
  }
  .e-mail {
    padding-top: 1.5rem;
  }
  .find-my-resume {
    padding-top: 1.5rem;
  }
  .connect-with-me-social {
    padding-top: 4rem;
  }
  .social-logo {
    gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
  }
  .connecting-social-media-logo {
    width: 2rem;
    height: 2rem;
  }
  #copyright-text {
    font-size: 0.75rem;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .connect-with-me {
    font-size: 2rem;
    padding-top: 7rem;
  }
  .name {
    font-size: 1.5rem;
    padding-top: 4rem;
  }
  .contact-information,
  .contact-information a,
  .connect-with-me-social {
    font-size: 1rem;
    color: #1a1f2b;
  }
  .e-mail {
    padding-top: 1.5rem;
  }
  .find-my-resume {
    padding-top: 1.5rem;
  }
  .connect-with-me-social {
    padding-top: 4rem;
  }
  .social-logo {
    gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
  }
  .connecting-social-media-logo {
    width: 2rem;
    height: 2rem;
  }
  #copyright-text {
    font-size: 0.75rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Responsive */
/* Footer */
