/* Fonts List
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
Fonts List */

/* Reset */
* {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
/* Reset */

/* Layout */
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75vh;
  background-color: antiquewhite;
}
@media (max-width: 375px) {
  #hero {
    grid-template-columns: 100vw;
    grid-template-rows: 50vh;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  #hero {
    grid-template-columns: 100vw;
    grid-template-rows: 60vh;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #hero {
    grid-template-columns: 100vw;
    grid-template-rows: 75vh;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Layout */

/* Hero Section */
/* Left Side */
#hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15rem;
}
#portfolio {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;
  align-self: center;
  margin-bottom: 8rem;
  color: #1a1f2b;
}
#hello {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
  color: #96d13b;
}
#full-name,
#last-name {
  font-family: "Merriweather", serif;
  font-size: 7rem;
  color: #1a1f2b;
}
#last-name {
  color: #3b65d2;
}
#proffesion-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#button-container,
#proffession {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#proffession {
  justify-content: flex-start;
}
.proffession,
.button {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  color: #1a1f2b;
}
#button,
#cv-download-button {
  font-size: 1.75rem;
  border: none;
  background-color: #306d7a;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  margin: 1.3rem;
}
#cv-download-button {
  background-color: #3b65d2;
}
#proffesion-button {
  margin-top: 8rem;
}

/* Responsive */
@media (max-width: 375px) {
  #hero-left {
    margin: 0rem 2rem 0rem 2rem;
    justify-content: center;
  }
  #portfolio {
    font-size: 1.75rem;
    margin: 0rem 0rem 4rem 0rem;
  }
  #hello {
    font-size: 1.5rem;
  }
  #full-name,
  #last-name {
    font-size: 2rem;
  }
  #proffesion-button {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .proffession,
  .button {
    font-size: 1rem;
  }
  #button,
  #cv-download-button {
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
    margin: 1rem 0.7rem;
  }
  #proffesion-button {
    margin-top: 3.5rem;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  #hero-left {
    margin: 0rem 5rem 0rem 5rem;
    justify-content: center;
  }
  #portfolio {
    font-size: 2.1rem;
    margin: 0rem 0rem 4rem 0rem;
  }
  #hello {
    font-size: 1.75rem;
  }
  #full-name,
  #last-name {
    font-size: 2.4rem;
  }
  #proffesion-button {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .proffession {
    font-size: 1.1rem;
  }
  #button,
  #cv-download-button {
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
  }
  #proffesion-button {
    margin-top: 3.5rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #hero-left {
    margin: 0rem 5rem 0rem 5rem;
    justify-content: center;
  }
  #portfolio {
    font-size: 2.75rem;
    margin: 0rem 0rem 4.5rem 0rem;
  }
  #hello {
    font-size: 3.5rem;
  }
  #full-name,
  #last-name {
    font-size: 4rem;
  }
  #full-name {
    margin-bottom: 3rem;
  }
  #proffesion-button {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .proffession,
  .button {
    font-size: 1.5rem;
  }
  #button {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
  }
  #proffesion-button {
    margin-top: 0rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Responsive */
/* Left Side */

/* Right Side */
#hero-image {
  height: 75vh;
}
#hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Responsive */
@media (max-width: 375px) {
  #hero-right {
    display: none;
  }
}
@media (min-width: 376px) and (max-width: 575px) {
  #hero-right {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #hero-right {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1400px) {
}
/* Responsive */
/* Right Side */
/* Hero Section */
