/* Fonts List
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
Fonts List */

/* Reset */
* {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  box-sizing: border-box;
}
/* Reset */

/* Universal Design */
.section-heading-text {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  color: #1a1f2b;
}

.body-text {
  color: #1a1f2b;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

#projects > h3,
#interest > h3 {
  text-align: center;
}
/* Responsive */
@media (max-width: 575px) {
  .section-heading-text {
    font-size: 2.5rem;
    text-align: center;
  }
  .body-text {
    font-size: 1.25rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .section-heading-text {
    font-size: 2.5rem;
    text-align: center;
  }
  .body-text {
    font-size: 1.65rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-heading-text {
    font-size: 3rem;
  }
  .body-text {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .section-heading-text {
    font-size: 3rem;
  }
  .body-text {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* Responsive */
/* Universal Design */

/* Hero Section */
/* Layout */
#hero-section-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 70vh;
  background-color: antiquewhite;
  padding: 3rem 20rem 3rem 20rem;
}
/* Layout */

/* Left Side */
#hero-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#portfolio {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;
  align-self: center;
  color: #1a1f2b;
}
#hello {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  color: #96d13b;
  margin-top: 7rem;
}
#hero-full-name,
#hero-last-name {
  font-family: "Merriweather", serif;
  font-size: 7rem;
  color: #1a1f2b;
}
#hero-last-name {
  color: #3b65d2;
}
#proffesion-link-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
#link-container {
  display: flex;
  margin-top: 2rem;
  gap: 5rem;
}
#proffession,
.hero-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  color: #1a1f2b;
}
#proffession {
  justify-content: flex-start;
  font-size: 1.75rem;
  font-weight: 650;
}
.hero-link {
  text-decoration: none;
  color: white;
  background-color: #306d7a;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
}
#resume {
  background-color: #3b65d2;
}
/* Left Side */

/* Right Side */
#hero-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#hero-image {
  height: 60vh;
}
/* Right Side */

/* Responsive */
@media (max-width: 575px) {
  /* Layout */
  #hero-section-container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 5rem 3rem 5rem 3rem;
  }
  /* Layout */

  /* Left Side */
  #portfolio {
    font-size: 2rem;
  }
  #hello {
    font-size: 2rem;
    margin-top: 3.5rem;
  }
  #hero-full-name,
  #hero-last-name {
    font-size: 2.6rem;
  }
  #proffesion-link-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 3.5rem;
  }
  #proffession,
  .hero-link {
    font-size: 1.25rem;
  }
  #link-container {
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
  }
  .hero-link {
    padding: 1.25rem 2rem;
  }
  /* Left Side */

  /* Right Side */
  #hero-right {
    display: none;
  }
  /* Right Side */
}
@media (min-width: 576px) and (max-width: 767px) {
  /* Layout */
  #hero-section-container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 5rem 7.5rem 5rem 7.5rem;
  }
  /* Layout */

  /* Left Side */
  #portfolio {
    font-size: 2.5rem;
  }
  #hello {
    font-size: 2.5rem;
    margin-top: 3.5rem;
  }
  #hero-full-name,
  #hero-last-name {
    font-size: 3.6rem;
  }
  #proffesion-link-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 4rem;
  }
  #proffession,
  .hero-link {
    font-size: 1.5rem;
  }
  #link-container {
    margin-top: 2.5rem;
    justify-content: center;
    gap: 4rem;
  }
  .hero-link {
    padding: 1.25rem 2rem;
  }
  /* Left Side */

  /* Right Side */
  #hero-right {
    display: none;
  }
  /* Right Side */
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Layout */
  #hero-section-container {
    padding: 3rem 7.5rem 3rem 7.5rem;
  }
  /* Layout */

  /* Left Side */
  #portfolio {
    font-size: 3rem;
  }
  #hello {
    font-size: 2.75rem;
    margin-top: 5rem;
  }
  #hero-full-name,
  #hero-last-name {
    font-size: 3.3rem;
  }
  #link-container {
    margin-top: 3rem;
    gap: 3rem;
  }
  /* Left Side */

  /* Right Side */
  #hero-image {
    height: 60vh;
    width: 85%;
  }
  /* Right Side */
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Layout */
  #hero-section-container {
    padding: 3rem 10rem 3rem 10rem;
  }
  /* Layout */

  /* Left Side */
  #portfolio {
    font-size: 3.25rem;
  }
  #hello {
    font-size: 3rem;
    margin-top: 5rem;
  }
  #hero-full-name,
  #hero-last-name {
    font-size: 4rem;
  }
  #link-container {
    margin-top: 3rem;
    gap: 3rem;
  }
  /* Left Side */

  /* Right Side */
  #hero-image {
    height: 60vh;
    width: 85%;
  }
  /* Right Side */
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /* Layout */
  #hero-section-container {
    padding: 3rem 15rem 3rem 15rem;
  }
  /* Layout */

  /* Left Side */
  #portfolio {
    font-size: 3.5rem;
  }
  #hello {
    font-size: 3.25rem;
    margin-top: 6rem;
  }
  #hero-full-name,
  #hero-last-name {
    font-size: 4.8rem;
  }
  #link-container {
    margin-top: 3rem;
    gap: 3rem;
  }
  /* Left Side */

  /* Right Side */
  #hero-image {
    height: 60vh;
    width: 85%;
  }
  /* Right Side */
}
/* Responsive */
/* Hero Section */

/* BIO Section */
/* Layout */
#bio-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 10rem 20rem;
}
/* Layout */

/* BIO Left */
#profile-image {
  width: 70%;
  border-radius: 50%;
  margin-top: 8rem;
}
/* BIO Left */

/* BIO Right */
#bio-first-para-text {
  font-size: 3.5rem;
}
.bio-paragraph-text {
  margin-top: 4rem;
}
/* BIO Right */

/* Responsive */
@media (max-width: 575px) {
  #bio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 3rem;
  }
  #bio-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #bio {
    align-self: center;
  }
  #profile-image {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
  #bio-first-para-text {
    font-size: 1.62rem;
  }
  .bio-paragraph-text {
    margin-top: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #bio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 7.5rem;
  }
  #bio-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #bio {
    align-self: center;
  }
  #profile-image {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
  #bio-first-para-text {
    font-size: 2rem;
    font-family: "Merriweather", serif;
    font-weight: 800;
    margin-top: 0rem;
  }
  .bio-paragraph-text {
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* BIO Section */
  /* Layout */
  #bio-section {
    margin: 3rem 7.5rem;
  }
  /* Layout */

  /* BIO Left */
  #profile-image {
    margin-top: 8rem;
  }
  /* BIO Left */

  /* BIO Right */
  #bio-first-para-text {
    font-size: 1.75rem;
  }
  .bio-paragraph-text {
    margin-top: 1.5rem;
  }
  /* BIO Right */
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* BIO Section */
  /* Layout */
  #bio-section {
    margin: 5rem 10rem;
  }
  /* Layout */

  /* BIO Left */
  #profile-image {
    margin-top: 8rem;
  }
  /* BIO Left */

  /* BIO Right */
  #bio-first-para-text {
    font-size: 2.2rem;
  }
  .bio-paragraph-text {
    margin-top: 2rem;
  }
  /* BIO Right */
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /* BIO Section */
  /* Layout */
  #bio-section {
    margin: 5rem 15rem;
  }
  /* Layout */

  /* BIO Left */
  #profile-image {
    margin-top: 8rem;
  }
  /* BIO Left */

  /* BIO Right */
  #bio-first-para-text {
    font-size: 2.55rem;
  }
  .bio-paragraph-text {
    margin-top: 3rem;
  }
  /* BIO Right */
}
/* Responsive */
/* BIO Section */

/* Education */
/* Layout */
#education-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 10rem 20rem;
}
/* Layout */

/* Education Left */
#university-info,
#college-info {
  margin-bottom: 10rem;
}
.institute-name {
  margin-top: 1.25rem;
}
.grade-info {
  font-weight: normal;
}
/* Education Left */

/* Education Right */
#education-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#education-image {
  height: 60rem;
  width: 60rem;
  margin-top: 5rem;
}
/* Education Right */

/* Responsive */
@media (max-width: 575px) {
  /* Layout */
  #education-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 5rem 3rem;
  }
  /* Layout */

  /* Education Left */
  #education-left {
    margin-top: 4rem;
  }
  #university-info,
  #college-info {
    margin-bottom: 4rem;
  }
  .institute-name {
    margin-top: 0.75rem;
  }
  /* Education Left */

  /* Education Right */
  #education-right {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #education {
    align-self: center;
  }
  #education-image {
    height: 30vh;
    width: 75%;
    margin-top: 1.5rem;
    align-self: center;
  }
  /* Education Right */
}
@media (min-width: 576px) and (max-width: 767px) {
  /* Layout */
  #education-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 5rem 7.5rem;
  }
  /* Layout */

  /* Education Left */
  #education-left {
    margin-top: 6rem;
  }

  #university-info,
  #college-info {
    margin-bottom: 6rem;
  }
  .institute-name {
    margin-top: 1rem;
  }
  /* Education Left */

  /* Education Right */
  #education-right {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #education {
    align-self: center;
  }
  #education-image {
    height: 35vh;
    width: 75%;
    margin-top: 1.5rem;
    align-self: center;
  }
  /* Education Right */
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Education */
  /* Layout */
  #education-info {
    margin: 10rem 7.5rem;
  }
  /* Layout */

  /* Education Left */
  #university-info,
  #college-info {
    margin-bottom: 4.5rem;
  }
  .institute-name {
    margin-top: 1rem;
  }
  /* Education Left */

  /* Education Right */
  #education-image {
    height: 50vh;
    width: 100%;
    margin-top: 4rem;
  }
  /* Education Right */
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Education */
  /* Layout */
  #education-info {
    margin: 10rem 10rem;
  }
  /* Layout */

  /* Education Left */
  #university-info,
  #college-info {
    margin-bottom: 4.5rem;
  }
  .institute-name {
    margin-top: 1rem;
  }
  /* Education Left */

  /* Education Right */
  #education-image {
    height: 55vh;
    width: 100%;
    margin-top: 3rem;
  }
  /* Education Right */
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /* Education */
  /* Layout */
  #education-info {
    margin: 10rem 10rem;
  }
  /* Layout */

  /* Education Left */
  #university-info,
  #college-info {
    margin-bottom: 4.5rem;
  }
  .institute-name {
    margin-top: 1rem;
  }
  /* Education Left */

  /* Education Right */
  #education-image {
    height: 55vh;
    width: 100%;
    margin-top: 3rem;
  }
  /* Education Right */
}
/* Responsive */
/* Education */

/* Work Experience */
/* Layout */
#work-experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  margin: 15rem 20rem;
}
#work-experience-details-container {
  display: grid;
  grid-column: auto;
  grid-template-rows: auto auto auto;
  gap: 7.5rem;
}
.work-experience-details {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: auto;
  gap: 2rem;
}
/* Layout */

.work-institute-name,
.working-year,
.designation {
  font-weight: 700;
  text-transform: uppercase;
}
.designation {
  margin-top: 1.5rem;
}

/* Responsive */
@media (max-width: 575px) {
  /* Layout */
  #work-experience {
    display: flex;
    flex-direction: column;
    margin: 7rem 3rem;
  }
  #work-experience-heading {
    align-self: center;
  }
  #work-experience-details-container {
    grid-template-rows: auto auto;
    gap: 5rem;
    margin-top: 3.5rem;
  }
  .work-experience-details {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 1.5rem;
  }
  /* Layout */

  .designation {
    margin-top: 1.25rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* Layout */
  #work-experience {
    display: flex;
    flex-direction: column;
    margin: 7rem 7.5rem;
  }
  #work-experience-heading {
    align-self: center;
  }
  #work-experience-details-container {
    grid-template-rows: auto auto;
    gap: 5rem;
    margin-top: 3.5rem;
  }
  .work-experience-details {
    gap: 1.5rem;
  }
  /* Layout */

  .designation {
    margin-top: 1.25rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Layout */
  #work-experience {
    display: flex;
    flex-direction: column;
    margin: 7rem 7.5rem;
  }
  #work-experience-heading {
    align-self: center;
  }
  #work-experience-details-container {
    grid-template-rows: auto auto;
    gap: 5rem;
    margin-top: 3.5rem;
  }
  .work-experience-details {
    gap: 1.5rem;
  }
  /* Layout */

  .designation {
    margin-top: 1.25rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Layout */
  #work-experience {
    margin: 10rem 10rem;
  }
  #work-experience-details-container {
    gap: 5.5rem;
  }
  .work-experience-details {
    gap: 1.5rem;
  }
  /* Layout */
  .designation {
    margin-top: 1.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /* Layout */
  #work-experience {
    margin: 10rem 10rem;
  }
  #work-experience-details-container {
    gap: 5.5rem;
  }
  .work-experience-details {
    gap: 1.5rem;
  }
  /* Layout */
  .designation {
    margin-top: 1.5rem;
  }
}
/* Responsive */
/* Work Experience */

/* Additional Information */
#additional-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  margin: 15rem 20rem;
}
#additional-certificate-details {
  display: grid;
  grid-column: auto;
  grid-template-rows: auto auto auto;
  gap: 7.5rem;
}
#others-works {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: auto;
  gap: 2rem;
  margin-top: 7.5rem;
}
.certificate-image {
  display: block;
  height: 30rem;
  width: 50rem;
  margin-top: 2rem;
}

/* Responsive */
@media (max-width: 575px) {
  /* Layout */
  #additional-info {
    display: flex;
    flex-direction: column;
    margin: 5rem 3rem;
  }
  #additional-certificate-details {
    gap: 2.5rem;
  }
  #others-works {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  /* Layout */
  #additional-right-container {
    padding-top: 2rem;
  }
  #additional-certificate-works {
    text-align: center;
  }
  .certificate-image {
    height: 15rem;
    width: 22rem;
    margin-top: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* Layout */
  #additional-info {
    display: flex;
    flex-direction: column;
    margin: 5rem 7.5rem;
  }
  #additional-certificate-details {
    gap: 2.5rem;
  }
  #others-works {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  /* Layout */
  #additional-right-container {
    padding-top: 2rem;
  }
  #additional-certificate-works {
    text-align: center;
  }
  .certificate-image {
    height: 15rem;
    width: 22rem;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Layout */

  /* Layout */
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Layout */

  /* Layout */
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /* Layout */

  /* Layout */
}
/* Responsive */
/* Additional Information */

/* Skills Proficiencies */
/* Layout */
#skill-proficiencies {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 10px;
  margin: 15rem 20rem;
}
#skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 80px;
}
/* Layout */
.skill-img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.skills-icon {
  height: 90px;
  width: 90px;
}

/* Responsive */
@media (max-width: 575px) {
  /* Layout */
  #skill-proficiencies {
    display: flex;
    flex-direction: column;
    margin: 5rem 3rem;
    gap: 0;
  }
  #skills-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    padding-top: 2rem;
    gap: 35px;
  }
  /* Layout */

  .skill-img-text {
    gap: 10px;
  }
  .skills-icon {
    height: 55px;
    width: 55px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* Layout */
  #skill-proficiencies {
    display: flex;
    flex-direction: column;
    margin: 5rem 7.5rem;
    gap: 0;
  }
  #skills-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    padding-top: 2rem;
    gap: 35px;
  }
  /* Layout */

  .skill-img-text {
    gap: 10px;
  }
  .skills-icon {
    height: 55px;
    width: 55px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* Responsive */
/* Skills Proficiencies */

/* Projects Proficiencies */
/* Layout */
#projects {
  display: flex;
  flex-direction: column;
  margin: 15rem 20rem;
}
#projects-showcase {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  padding-top: 5rem;
}
/* Layout */
.project-details-video {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
}
#projects > h2 {
  text-align: center;
}
.com-title {
  font-weight: 700;
}
.paragraph-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.video {
  display: flex;
  justify-content: center;
  align-content: center;
}
video {
  width: 720px;
}
/* Responsive */
@media (max-width: 575px) {
  /* Layout */
  #projects {
    margin: 5rem 3rem;
  }
  #projects-showcase {
    padding-top: 2rem;
  }
  /* Layout */
  .project-details-video {
    display: flex;
    flex-direction: column;
  }
  .video {
    padding: 1rem;
  }
  video {
    width: 300px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* Layout */
  #projects {
    margin: 5rem 7.5rem;
  }
  #projects-showcase {
    padding-top: 2rem;
  }
  /* Layout */
  .project-details-video {
    display: flex;
    flex-direction: column;
  }
  .video {
    padding: 1rem;
  }
  video {
    width: 275px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* Responsive */
/* Projects Proficiencies */

/* Interest Proficiencies */
/* Layout */
#interest {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 10px;
  margin: 15rem 20rem;
}
#interest-list {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  gap: 150px;
}
/* Layout */
#interest > h2 {
  text-align: center;
}
.interest-img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
}
.interest-icon {
  height: 90px;
  width: 90px;
}

/* Responsive */
@media (max-width: 575px) {
  /* Layout */
  #interest {
    display: flex;
    flex-direction: column;
    margin: 5rem 3rem;
    gap: 0;
  }
  #interest-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-top: 2rem;
    gap: 35px;
  }
  /* Layout */
  .interest-img-text {
    gap: 10px;
  }
  .interest-icon {
    height: 55px;
    width: 55px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* Layout */
  #interest {
    display: flex;
    flex-direction: column;
    margin: 5rem 7.5rem;
    gap: 0;
  }
  #interest-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-top: 2rem;
    gap: 35px;
  }
  /* Layout */
  .interest-img-text {
    gap: 10px;
  }
  .interest-icon {
    height: 55px;
    width: 55px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* Responsive */
/* Interest Proficiencies */

/* Footer */
#footer-section {
  background-color: wheat;
  font-family: "Poppins", sans-serif;
}
footer {
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
}
#connect-with-me {
  font-size: 4rem;
  padding-top: 12rem;
}
#footer-name {
  font-size: 2.75rem;
  margin-top: 5rem;
}
#footer-e-mail,
#footer-find-my-resume {
  margin-top: 2rem;
}
#connect-with-me-social {
  margin-top: 5rem;
}
#footer-social-logo {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.footer-connecting-social-media-logo {
  width: 4.5rem;
  height: 4.5rem;
}
#copyright-text {
  font-size: 1.1rem;
  font-weight: 300;
  padding-bottom: 1rem;
  align-self: center;
}
/* Responsive */
@media (max-width: 575px) {
  footer {
    margin-left: 3rem;
  }
  #connect-with-me {
    font-size: 2.5rem;
    padding-top: 5rem;
  }
  #footer-name {
    font-size: 2rem;
    margin-top: 3rem;
  }
  #footer-e-mail,
  #footer-find-my-resume {
    margin-top: 2rem;
  }
  #connect-with-me-social {
    margin-top: 3.5rem;
  }
  #footer-social-logo {
    gap: 1.5rem;
    margin-top: 1.75rem;
    margin-bottom: 5rem;
  }
  .footer-connecting-social-media-logo {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  footer {
    margin-left: 7.5rem;
  }
  #connect-with-me {
    font-size: 3rem;
    padding-top: 7.5rem;
  }
  #footer-name {
    font-size: 2.25rem;
    margin-top: 3rem;
  }
  #footer-e-mail,
  #footer-find-my-resume {
    margin-top: 2rem;
  }
  #connect-with-me-social {
    margin-top: 3.5rem;
  }
  #footer-social-logo {
    gap: 1.5rem;
    margin-top: 1.75rem;
    margin-bottom: 5rem;
  }
  .footer-connecting-social-media-logo {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    margin-left: 7.5rem;
  }
  #connect-with-me {
    font-size: 3.5rem;
    padding-top: 7.5rem;
  }
  #footer-name {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  #footer-e-mail,
  #footer-find-my-resume {
    margin-top: 2rem;
  }
  #connect-with-me-social {
    margin-top: 3.5rem;
  }
  #footer-social-logo {
    gap: 2rem;
    margin-top: 1.75rem;
    margin-bottom: 5rem;
  }
  .footer-connecting-social-media-logo {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  footer {
    margin-left: 10rem;
  }
  #connect-with-me {
    font-size: 3.5rem;
    padding-top: 7.5rem;
  }
  #footer-name {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  #footer-e-mail,
  #footer-find-my-resume {
    margin-top: 2rem;
  }
  #connect-with-me-social {
    margin-top: 3.5rem;
  }
  #footer-social-logo {
    gap: 2rem;
    margin-top: 1.75rem;
    margin-bottom: 5rem;
  }
  .footer-connecting-social-media-logo {
    width: 3rem;
    height: 3rem;
  }
  #copyright-text {
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  footer {
    margin-left: 10rem;
  }
  #connect-with-me {
    font-size: 3.5rem;
    padding-top: 7.5rem;
  }
  #footer-name {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  #footer-e-mail,
  #footer-find-my-resume {
    margin-top: 2rem;
  }
  #connect-with-me-social {
    margin-top: 3.5rem;
  }
  #footer-social-logo {
    gap: 2rem;
    margin-top: 1.75rem;
    margin-bottom: 5rem;
  }
  .footer-connecting-social-media-logo {
    width: 3rem;
    height: 3rem;
  }
  #copyright-text {
    font-size: 1.25rem;
  }
}
/* Responsive */
/* Footer */
